.card {
    position: relative;
    width: 18rem;
    margin: 1rem;
    .card-img-top {
        height: 40px;
    }
    .card-header {
        padding-right: 0.5rem;
    }
    .card-body {
        position: relative;
        .button-row {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0px;
        }
        .card-title {
            color: #6f6d6e;
        }
    }
}
